@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #F7FAFC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: var(--background-color);
  @apply text-sm;
}

